<h1>Search Project</h1>

<div class="ui grid">
  <div
    class="ui scrolling local search five wide column"
    data-controller="project-search"
    data-project-search-fetch-url-value="/projects?q={query}"
    data-project-search-visit-url-value="/projects">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search Merchant..." value="<%= @project_name %>">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>

  <% if @project.present? %>
    <div class="five wide column">
      <h2><%= @project.name %></h2>
    </div>

    <div class="five wide column">
      <h2>
        Total Tasks Completed:
        <%= render partial: 'tasks/total_completed', locals: { 
          total_completed: @total_completed 
        }%>
      </h3>
    </div>
  <% end %>
</div>


<% if @project.present? %>

  <%= render partial: 'tasks/tasks', locals: 
    {
      project: @project,
      task: @task,
      total_completed: @total_completed
    }
  %>
<% end %>